#container {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: top;
  gap: 20px;
  margin: 100px;
}

#botoesAba {
  display: flex;
  flex-direction: row;
  gap: 1.5%;
  margin: 0px;
  padding: 0px;
  margin-left: 1%;
}

#aba {
  display: flex;
  flex-direction: column;
}

.botaoAba {
  color: white;
  text-decoration: none;
  font-size: 15px;
  margin: 0px;
  padding: 5px;
}

.botaoPrincipal {
  color: white;
  text-decoration: none;
  font-size: 15px;
  margin: 0px;
  padding: 5px;
  border-bottom: 2px solid white;
}

.button {
  align-items: center;
  appearance: none;
  background-color: #17dfff;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #474646 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 30px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  margin: 5px;
}

.button:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

#atualizar {
  background-color: white;
}

#excluir {
  background-color: #eb4034;
}

#nomeEbotoes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
}

#infoItem {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#infos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
  min-height: fit-content;
}

.quadroInfo {
  display: flex;
  text-align: center;
  background-color: #111111;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 5px 5px 10px 1px black;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  height: 50px;
  min-width: 250px;
  width: 300px;
  padding: 30px;
}

@media screen and (max-width: 876px) {
  #container {
    margin: 0px;
    padding-left: 15px;
  }
}
